@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: "Poppins" !important;
}
.O1 {
  position: absolute;
  height: 34px;
  width: 500px;
  left: 321px;
  right: 351px;
  top: 43px;

  /* Bold/24px */

  font-style: normal;
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 30px !important;
  letter-spacing: 0.3px !important;

  color: #05445e;
}
.O2 {
  position: absolute;
  height: 54px;
  width: 900px;
  left: 321px;
  right: 351px;
  top: 73px;

  font-style: normal;
}

.Search {
  box-sizing: border-box;

  position: absolute;
  left: 1392px;
  right: 18.75%;
  top: 47px;
  bottom: 18.75%;
  height: 18px;
  width: 18px;
  color: #05445e;
  cursor: pointer;
}

.Notify {
  position: absolute;
  left: 1433px;
  top: 45px;
  cursor: pointer;
}

.NewNotify {
  position: absolute;
  left: 1450px;
  height: 6px;
  width: 6px;
  top: 44px;

  background: red;
  border: 1.5px solid #f7f8fc;

  border-radius: 50px;
}

.About {
  position: absolute;
  width: 111px !important;
  height: 18px !important;
  left: 1562px;
  top: 44px;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  letter-spacing: 0.2px;
  line-height: 20px;
  cursor: pointer;

  color: #05445e;
}

.Profile {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 1505px;
  top: 31px;

  /* grayscale / divider */

  border: 1.5px solid #dfe0eb !important;
  border-radius: 50%;
}

.John {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  position: relative;
  left: 0.1px;
  top: 1px;
  bottom: 1px;
  right: 1px;
}
.more {
  box-sizing: border-box;

  position: absolute;
  left: 1672px;
  right: 18.75%;
  top: 49px;
  bottom: 18.75%;
  height: 9px;
  width: 12px;
  cursor: pointer;
  opacity: 0.73;
}
